@import "compass/reset";
@import "compass/css3";

body, html {
  height: 100%;
}

body {
  font: 14px/1.23 Arial, Liberation Sans, sans-serif;
  background-color: #ee1c25;
  color: #fff;
}

a {
  color: #fa0;
  @include transition(color .25s);

  &:hover {
    color: lighten(#fa0, 20);
  }
}

.page-container {
  height: 100%;
  position: relative;
  @include background-image(radial-gradient(center, ellipse cover, #ee1c25 0%, #a61b1e 100%));

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/red_rays.png) no-repeat center / 100%;
    @include transition(backgrouns-size .5s);
  }
}

.page-header {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  .title {
    float: left;
    margin-left: 10px;
    width: 380px;
    height: 150px;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat 0 0;

    a {
      display: block;
      height: 150px;
      text-indent: -1000px;
    }
  }

  .slogan {
    display: none;
  }
}

.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
  font-size: 13px;
  @include box-sizing(border-box);

  .copyrights {
    float: left;
    margin-right: 40px;
  }

  .made-by {
    float: right;
  }
}
