@import "compass/reset";
@import "compass/css3";

body, html {
    height: 100%;
}

body {
    font: 14px/1.23 Arial, Liberation Sans, sans-serif;
    background-color: #ee1c25;
    color: #fff;
}

a {
    color: #fa0;
    @include transition(color .25s);

    &:hover {
        color: lighten(#fa0, 20);
    }
}

.page-container {
    height: 100%;
    position: relative;
    @include background-image(radial-gradient(center, ellipse cover, #ee1c25 0%, #a61b1e 100%));
}

.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .title {
        float: left;
        margin-left: 10px;
        width: 380px;
        height: 150px;
        overflow: hidden;
        text-indent: -1000px;
        background: url(../img/logo.png) no-repeat 0 0;
    }

    .slogan {
        display: none;
    }
}

.page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px;
    @include box-sizing(border-box);

    .copyrights {
        float: left;
        margin-right: 40px;
    }

    .made-by {
        float: right;
    }
}
