{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Djagon - UNO with flavor of madness!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="DjangoDash 2013 participant"/>
    <link rel="shortcut icon" href="{% static 'common/img/favicon.ico' %}"/>

    <!-- Common styles bundle -->
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'common/css/base.scss' %}"/>
    {% endcompress %}

    <!-- Common scripts bundle -->
    {% compress js %}
        <script src="{% static 'common/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'common/libs/d3/d3.js' %}"></script>
    {% endcompress %}

    <!-- Custom static bundle -->
    {% block static %}
    {% endblock %}
</head>
<body>

<div class="page-container">
{#    {% block header %}#}
{#        {% include 'common/header.html' %}#}
{#    {% endblock %}#}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'common/footer.html' %}
    {% endblock %}
</div>

</body>
</html>
